body {
  background-color: #e8eae6;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: #7c9473;
  border-width: 5px;
  width: 2%;
}
h1 {
  color: #7c9473;
  font-size: 45px;
  font-family: Times New Roman;
}
h3 {
  color: #7c9473;
  font-size: 25px;
  font-family: Times New Roman;
}

p2 {
  color: grey;
}
img {
  height: 220px;
}
li {
  color: #433520;
  font-size: 20px;
  font-family: Times New Roman;
}
td{
  color: #433520;
  font-size: 20px;
  font-family: Times New Roman;
}
